<div class="container">
  <h1 class="h1">Please enter your credit card details</h1>
  <div class="credit-card">
    <div class="row">
      <div class="col-md-6">
        <label for="card">Card Number</label>
        <input type="text"
               name="card">
      </div>
      <div class="col-md-3 offset-md-3">
        <img src="http://www.ultimatesecuritydevices.com/assets/images/credit_card_logo.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="exp">Expiration date</label>
        <input type="text"
               name="exp">
      </div>
      <div class="col-md-3">
        <label for="cvc">CVC</label>
        <input type="text"
               name="cvc">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-9">
        <label for="name">Carholder name</label>
        <input type="text"
               name="name">
      </div>
    </div>
  </div>
  <button class="btn btn-info submit"
          type="submit">Pay!</button>
</div>
